@page "/"

<PageTitle>Index</PageTitle>

<br />
<br />
<i class="oi oi-musical-note" style='font-size:48px;color:cornflowerblue'></i>
<h3>This web app is used to track my growing vinyl collection!</h3>

